---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-username>","apiKey":"<rackspace-api-token>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: ! '{"access":{"token":{"id":"96cee25cd31b4f08ad465b8a41df1cd1","expires":"2013-09-18T09:27:03.831-05:00","tenant":{"id":"_CDN-TENANT-NAME_","name":"_CDN-TENANT-NAME_"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"DFW","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"ORD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"SYD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"IAD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/_TENANT_ID_"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"DFW","tenantId":"_TENANT_ID_","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/_TENANT_ID_","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"ORD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/_TENANT_ID_","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"SYD","tenantId":"_TENANT_ID_","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/_TENANT_ID_","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/_TENANT_ID_"},{"region":"IAD","tenantId":"_TENANT_ID_","public[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-e77fdcba-ef89-4809-833a-13b5abbc21a4
    body:
      encoding: UTF-8
      string: ! '{"servers": []}'
  recorded_at: Tue, 17 Sep 2013 18:50:09 GMT
[...]
- request:
    method: post
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers
    body:
      encoding: UTF-8
      string: ! '{"server":{"name":"rumm-first-server","imageRef":"25a5f2e8-f522-4fe0-b0e0-dbaa62405c25","flavorRef":"2","minCount":1,"maxCount":1,"networks":[{"uuid":"00000000-0000-0000-0000-000000000000"},{"uuid":"11111111-1111-1111-1111-111111111111"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers/61457cc4-0503-451c-8977-222fab6b14b3
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-b2d08508-4d68-4e01-87a6-50a251ff1137
    body:
      encoding: UTF-8
      string: ! '{"server": {"OS-DCF:diskConfig": "AUTO", "id": "61457cc4-0503-451c-8977-222fab6b14b3",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers/61457cc4-0503-451c-8977-222fab6b14b3",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/servers/61457cc4-0503-451c-8977-222fab6b14b3",
        "rel": "bookmark"}], "adminPass": "MUyePUCoT87M"}}'
  recorded_at: Tue, 17 Sep 2013 18:50:15 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers/61457cc4-0503-451c-8977-222fab6b14b3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-c715db6b-0ea7-4259-9420-81902bc9ed08
    body:
      encoding: UTF-8
      string: ! '{"server": {"status": "ACTIVE", "updated": "2013-09-17T18:54:53Z",
        "hostId": "4e9a4e2e6af2a1bae58cdbe9eb22828bfba4b5e80a79692551b79a38", "addresses":
        {"public": [{"version": 6, "addr": "2001:4801:7823:0076:3053:5598:ff10:5ab5"},
        {"version": 4, "addr": "192.237.245.21"}], "private": [{"version": 4, "addr":
        "10.208.1.254"}]}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers/61457cc4-0503-451c-8977-222fab6b14b3",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/servers/61457cc4-0503-451c-8977-222fab6b14b3",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "25a5f2e8-f522-4fe0-b0e0-dbaa62405c25",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/images/25a5f2e8-f522-4fe0-b0e0-dbaa62405c25",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/flavors/2",
        "rel": "bookmark"}]}, "id": "61457cc4-0503-451c-8977-222fab6b14b3", "user_id":
        "358651", "name": "rumm-first-server", "created": "2013-09-17T18:50:13Z",
        "tenant_id": "_CDN-TENANT-NAME_", "OS-DCF:diskConfig": "AUTO", "accessIPv4":
        "192.237.245.21", "accessIPv6": "2001:4801:7823:0076:3053:5598:ff10:5ab5",
        "progress": 100, "OS-EXT-STS:power_state": 1, "metadata": {}}}'
  recorded_at: Tue, 17 Sep 2013 18:54:58 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_//servers/61457cc4-0503-451c-8977-222fab6b14b3/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-3d08dfe3-aadf-44e0-90c9-52ab564e86ae
    body:
      encoding: UTF-8
      string: ! '{"metadata": {}}'
  recorded_at: Tue, 17 Sep 2013 18:54:59 GMT
[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/images/25a5f2e8-f522-4fe0-b0e0-dbaa62405c25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-404f4013-40d3-4844-8097-91566eca9d99
    body:
      encoding: UTF-8
      string: ! '{"image": {"status": "ACTIVE", "updated": "2013-08-12T20:22:03Z",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/images/25a5f2e8-f522-4fe0-b0e0-dbaa62405c25",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/images/25a5f2e8-f522-4fe0-b0e0-dbaa62405c25",
        "rel": "bookmark"}, {"href": "https://ord.images.api.rackspacecloud.com/_CDN-TENANT-NAME_/images/25a5f2e8-f522-4fe0-b0e0-dbaa62405c25",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "OS-DCF:diskConfig":
        "AUTO", "id": "25a5f2e8-f522-4fe0-b0e0-dbaa62405c25", "OS-EXT-IMG-SIZE:size":
        263299024, "name": "CentOS 6.4", "created": "2013-07-26T03:22:20Z", "minDisk":
        0, "progress": 100, "minRam": 512, "metadata": {"os_distro": "centos", "com.rackspace__1__visible_core":
        "1", "com.rackspace__1__build_rackconnect": "1", "com.rackspace__1__options":
        "0", "image_type": "base", "cache_in_nova": "True", "com.rackspace__1__source":
        "kickstart", "org.openstack__1__os_distro": "org.centos", "com.rackspace__1__release_build_date":
        "2013-07-25_18-57-12", "auto_disk_config": "True", "com.rackspace__1__release_version":
        "3", "os_type": "linux", "com.rackspace__1__visible_rackconnect": "1", "com.rackspace__1__release_id":
        "213", "com.rackspace__1__visible_managed": "1", "com.rackspace__1__build_core":
        "1", "org.openstack__1__os_version": "6.4", "org.openstack__1__architecture":
        "x64", "com.rackspace__1__build_managed": "1"}}}'
  recorded_at: Tue, 17 Sep 2013 18:55:03 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/flavors/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-d1a5a322-c78c-41d4-ba2e-28647f7b0200
    body:
      encoding: UTF-8
      string: ! '{"flavor": {"name": "512MB Standard Instance", "links": [{"href":
        "https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/flavors/2",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/_CDN-TENANT-NAME_/flavors/2",
        "rel": "bookmark"}], "ram": 512, "vcpus": 1, "swap": 512, "rxtx_factor": 2.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 20, "id": "2"}}'
  recorded_at: Tue, 17 Sep 2013 18:55:04 GMT
[...]
- request:
    method: delete
    uri: https://ord.servers.api.rackspacecloud.com/v2/_CDN-TENANT-NAME_/servers/61457cc4-0503-451c-8977-222fab6b14b3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 96cee25cd31b4f08ad465b8a41df1cd1
  response:
    status:
      code: 204
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-8cd505ac-a33d-4bd6-8243-cf11cf2d0e10
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 17 Sep 2013 18:55:07 GMT
recorded_with: VCR 2.5.0
